# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.DS_Store
build/build-metrics.json
build/quarkus-app/quarkus-app-dependencies.txt
build/quarkus-app/quarkus/quarkus-application.dat
build/quarkus-artifact.properties
build/quarkus-build/app/quarkus-app/quarkus-app-dependencies.txt
build/quarkus-build/app/quarkus-app/quarkus/quarkus-application.dat
build/quarkus-build/app/quarkus-artifact.properties
build/quarkus-build/gen/quarkus-app/quarkus-app-dependencies.txt
build/quarkus-build/gen/quarkus-app/quarkus/quarkus-application.dat
build/quarkus-build/gen/quarkus-artifact.properties
build/resources/main/application.properties
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/jar/MANIFEST.MF
